.searchbar {
    background-color: #222222;
    width: 255px;
    height: 50px;
    border-radius: 130px;
    flex-direction: row;
    align-items: center;
}

.typebar {
    flex-direction: row;
    width: 370px;
    height: 44px;
    align-items: center;
}

.typebtn {
    width: 75px;
    height: 44px;
    margin-left: 16px;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.typetext {
    font-size: 25px;
    font-weight: 600;
}

.result-list {
    width: 100%;
    height: 97%;
    margin-top: 15px;
}

.tiplabel {
    width: 100%;
    height: 50px;
}

.listtip {
    margin-left: 72px;
    font-size: 25px;
    font-weight: 600;
}

.swiper_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}