@import '@less/defs.less';
@import '@less/color.less';

.tip_text {
    font-size: 24px;
    color: #999999;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 32px;
}

.setbase {
    width: 370px;
    height: 92px;
    border-radius: 30px;
    background-color: #262626;
    align-items: center;
    flex-direction: row;
    margin-top: 6px;
}

.seticon {
    margin-left: 25px;
    width: 55px;
    height: 55px;
    object-fit: scale-down;
}

.setext_small {
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
}

.countset_num {
    position: absolute;
    right: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #FF7DA8;
}

.setbase_sub {
    width: 350px;
    height: 70px;
    border-radius: 24px;
    background-color: #1a1a1a;
    align-items: center;
    flex-direction: row;
    margin-top: 4px;
    margin-left: 10px;
}

.setext_sub {
    font-size: 26px;
    font-weight: 500;
    margin-left: 25px;
    color: #cccccc;
}
